page-playas {
    .cCont{
        margin-top:10%;
    }
    .cont{
        margin-left:20%;
        margin-right:20%;
        text-align: center,
    }
    .paises{
       
        background-color:rgba(0, 0, 0,0.4);
        color:white;
    }
    .main{
        background-image: url("../../assets/imgs/partidos.jpg");
        background-repeat:no-repeat;
        background-position:center center;
        background-attachment:fixed;
        -o-background-size: 100% 100%, auto;
        -moz-background-size: 100% 100%, auto;
        -webkit-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
       

    }
}
